body{
 background-color: #000000;
 padding: 0px;
 margin: 0px;
}

#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}

#outer { overflow:hidden; }

div.container {
  max-width: 500px;
  margin: 100px auto;
  border: 5px solid white;
  padding: 20px;
  text-align: center;
}
h4 {
  text-transform: uppercase;
}

button {
  padding: 0 !important;
  border: 0px !important;
}
